* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

nav ul li a {
  color: #88A09E !important;
  font-weight: 700;
}
nav ul li a:hover {
  color: #728583 !important;
}
@media (max-width: 575.98px) {
  nav ul li a {
    color: #efeae5 !important;
  }
}

.hamburger-icon {
  font-size: 1.2rem;
  color: #88A09E;
}

@media (max-width: 575.98px) {
  .navbar-collapse {
    background-color: #2a435b;
    padding: 0.5rem;
    margin-top: 1rem;
    box-shadow: -5px 7px 14px -8px rgba(0, 0, 0, 0.71);
  }
}
@media (max-width: 575.98px) {
  .navbar-collapse ul li {
    padding: 0.5rem;
  }
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}
.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}

.home-background {
  height: 100vh;
  background-image: url(../img/home-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  max-width: 100%;
  width: 10rem;
}

h1 {
  color: #EFEAE5;
  font-weight: 700;
}

h2 {
  color: #EFEAE5;
  font-weight: 300;
  font-size: 1.2rem;
}

.aboutUs-background {
  height: 100vh;
  background-image: url(../img/aboutus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 3rem #2A435B;
}
@media (max-width: 48em) {
  .aboutUs-background {
    border: solid 1.5rem #2A435B;
  }
}

.aboutUs-col-2 {
  background-color: #EFEAE5;
}

.horizontal-line {
  height: 0.2rem !important;
  width: 80%;
  opacity: 100;
  background-color: #2A435B;
}

h3 {
  color: #2A435B;
  font-weight: 700;
  font-size: 2rem;
}

.aboutUs-text {
  color: #2A435B;
  font-weight: 300;
  width: 80%;
}

.services-article {
  height: 100vh;
  background-color: #EFEAE5;
}
@media (max-width: 48em) {
  .services-article {
    height: auto;
  }
}

.services-text {
  color: #2A435B;
  font-weight: 300;
  font-size: 1rem;
}

.services-description {
  color: #2A435B;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
}

.services-img {
  max-width: 100%;
  width: 80%;
}

.clients-article {
  height: 100vh;
  background-color: #2A435B;
}
@media (max-width: 48em) {
  .clients-article {
    height: auto;
  }
}

.h3-white {
  color: #EFEAE5;
  font-weight: 700;
  font-size: 2rem;
}

h4 {
  color: #EFEAE5;
  font-weight: 500;
  font-size: 1.2rem;
}

.client-profesion {
  color: #EFEAE5;
  font-weight: 300;
  font-size: 0.7rem;
}

.client-img {
  max-width: 100%;
  width: 10rem !important;
  border-radius: 50%;
}

.client-text {
  color: #EFEAE5;
  font-weight: 300;
  font-size: 0.8rem;
  width: 80%;
  text-align: justify;
  padding-top: 1rem;
}

.div-border-right {
  border-right: solid 0.1rem #efeae5;
}
@media (max-width: 48em) {
  .div-border-right {
    border-right: none;
  }
}

footer {
  background-color: #efeae5;
}

.footer-background {
  height: 100vh;
  background-image: url(../img/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 3rem #2A435B;
}

h5 {
  color: #2A435B;
  font-weight: 500;
  font-size: 0.9rem;
}

.contact-data {
  color: #2A435B;
  font-weight: 300;
  font-size: 0.9rem;
}

.turno-btn {
  background-color: #2a435b;
  color: #efeae5;
  text-decoration: none;
  padding: 0.8rem;
  width: 80%;
  text-align: center;
  margin: 0.6rem 0rem;
}
.turno-btn:hover {
  background-color: #223446;
  color: #efeae5;
}

.body-turnos {
  background-color: #EFEAE5;
}

.appointment-background {
  height: 100vh;
  background-image: url(../img/appointment-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 3rem #2A435B;
}
@media (max-width: 48em) {
  .appointment-background {
    border: solid 1.5rem #2A435B;
  }
}

.appointment-title {
  color: #2A435B;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 3rem 0 1.5rem 0;
}

.appointment-text {
  text-align: center;
  font-size: 0.9rem;
  color: #2a435b;
  font-weight: 300;
}

/*Form turnos*/
form {
  text-align: center;
}

form label {
  font-size: 0.8rem;
  font-weight: 700;
  color: #2a435b;
}

form input {
  display: block;
  width: 70%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.05);
  font-size: 0.8rem;
  font-weight: 300;
  color: #2a435b;
}
form input:focus {
  outline: none;
}

form input[type=submit] {
  margin: 2rem auto;
  background-color: #2a435b;
  color: #efeae5;
}
form input[type=submit]:hover {
  background-color: #223446;
}

.div-datos-reserva {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 40%;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2a435b;
  box-shadow: -5px 7px 14px -8px rgba(0, 0, 0, 0.8);
}
@media (max-width: 575.98px) {
  .div-datos-reserva {
    width: 90%;
  }
}
.div-datos-reserva h6 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #efeae5;
  padding-top: 1rem;
}
.div-datos-reserva p {
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
}
.div-datos-reserva button {
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  background-color: #efeae5;
  color: #2a435b;
}

/*# sourceMappingURL=style.css.map */
