//General settings
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

//Partial imports
//Base
@import 'base/variables';
@import 'base/mixin';

//Components
@import 'components/header';
@import 'components/home';
@import 'components/about-us';
@import 'components/services';
@import 'components/clients';
@import 'components/footer';
@import 'components/appointments';