.aboutUs-background{
    @include background-image(url(../img/aboutus.jpg), solid 3rem $dark-blue);

    @media (max-width: 48em){
        border: solid 1.5rem $dark-blue;
    }
}
.aboutUs-col-2{
    background-color: $white;
}
.horizontal-line{
    width: 80%;
    opacity: 100;
    background-color: $dark-blue;
}
hr:not([size]){
    height: 0.2rem;
}
h3{
    color: $dark-blue;
    font-weight: 700;
    font-size: 2rem;
}
.aboutUs-text{
    color: $dark-blue;
    font-weight: 300;
    width: 80%;
}