.body-turnos{
    background-color: $white;
}
.appointment-background{
    @include background-image(url(../img/appointment-background.jpg), solid 3rem $dark-blue);

    @media (max-width: 48em){
        border: solid 1.5rem $dark-blue;
    }
}
.appointment-title{
    color: $dark-blue;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0 1.5rem 0;
}
.appointment-text{
    text-align: center;
    font-size: 0.9rem;
    color: $dark-blue;
    font-weight: 300;
}
/*Form turnos*/
form{
    text-align: center;
}
form label{
    font-size: 0.8rem;
    font-weight: 700;
    color: $dark-blue;
}
form input{
    display: block;
    width: 70%;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    box-shadow: unquote('3px 3px 3px 0px rgb(0 0 0 / 5%)');
    font-size: 0.8rem;
    font-weight: 300;
    color: $dark-blue;

    &:focus{
        outline: none;
    }
}
form input[type="submit"]{
    margin: 2rem auto;
    background-color: $dark-blue;
    color: $white;

    &:hover{
        background-color: $dark-blue-hover;
    }
}

.div-datos-reserva{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 40%;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark-blue-hover;
    box-shadow: unquote('-5px 7px 14px -8px rgb(0 0 0 / 80%)');

    @media (max-width: 61.99em){
        width: 90%;
    }

    h6{
        font-size: 1.2rem;
        font-weight: 700;
        color: $white;
        padding-top: 1rem;
    }

    p{
        color: white;
        font-size: 0.9rem;
        font-weight: 300;
    }

    button{
        cursor: pointer;
        border: none;
        border-radius: 0.2rem;
        padding: 0.3rem 0.7rem;
        font-size: 0.8rem;
        font-weight: 700;
        margin-bottom: 1rem;
        background-color: $white;
        color: $dark-blue;
    }
}