footer{
    background-color: $white;
}
.footer-background{
    @include background-image(url(../img/footer.jpg), solid 3rem $dark-blue);

    @media (max-width: 48em){
        border: solid 1.5rem $dark-blue;
    }
}
h5{
    color: $dark-blue;
    font-weight: 500;
    font-size: 0.9rem;
}
.contact-data{
    color: $dark-blue;
    font-weight: 300;
    font-size: 0.9rem;
}
.turno-btn{
    background-color: $dark-blue;
    color: $white;
    text-decoration: none;
    padding: 0.8rem;
    width: 80%;
    text-align: center;
    margin: 0.6rem 0rem;

    &:hover{
        background-color: $dark-blue-hover;
        color: $white;
    }
}