.navbar-light{
    .navbar-nav{
        .nav-link{
            color: $blue-light;
            font-weight: 700;

            &:hover{
                color: $blue-light-hover;
            }
            @media (max-width: 61.99em){
                color: $white;
            }
        }
    }
}

.hamburger-icon{
    font-size: 1.2rem;
    color: $blue-light;
}

.navbar-collapse{
    @media (max-width: 61.99em){
        background-color: $dark-blue-hover;
        padding: 0.5rem;
        margin-top: 1rem;
        box-shadow: unquote('-5px 7px 14px -8px rgb(0 0 0 / 71%)');
    }

    ul{
        li{
            @media (max-width: 61.99em){
                padding: 0.5rem;
            }
        }
    }
}

.navbar-light{
    .navbar-toggler{
        color: $white;
        border-color: $white;
    
        &:focus{
            box-shadow: none;
        }
    }
}