nav{
    ul{
        li{
            a{
                color: #88A09E!important;
                font-weight: 700;

                &:hover{
                    color: #728583!important;
                }

                @media (max-width: 575.98px){
                    color: #efeae5!important;
                }
            }
        }
    }
}

.hamburger-icon{
    font-size: 1.2rem;
    color: #88A09E;
}

.navbar-collapse{
    @media (max-width: 575.98px){
        background-color: #2a435b;;
        padding: 0.5rem;
        margin-top: 1rem;
        box-shadow: -5px 7px 14px -8px rgb(0 0 0 / 71%);
    }

    ul{
        li{
            @media (max-width: 575.98px){
                padding: 0.5rem;
            }
        }
    }
}

.navbar-light .navbar-toggler{
    color: rgb(255 255 255);
    border-color: rgb(255 255 255);

    &:focus{
        box-shadow: none;
    }
}