.services-article{
    height: 100vh;
    background-color: $white;

    @media (max-width: 48em){
        height: auto;
    }
}
.services-text{
    color: $dark-blue;
    font-weight: 300;
    font-size: 1rem;
}
.services-description{
    color: $dark-blue;
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
}
.services-img{
    max-width: 100%;
    width: 80%;
}